---
import UIBtn from "./ui-btn.astro"


---
<div id="about" class="relative">
  <div class="z-[1] max-w-[1280px] mx-auto pt-[187px] font-railway pb-[143px]">
    <div class="text-[45px] font-bold bg-gradient-to-r from-cyan-300 via-purple-950 to-purple-700 text-transparent bg-clip-text">
      О форуме
    </div>
    <div class="mt-[52px] space-y-4 max-w-[697px]">
      <p>
        Digital Umma IT Forum - это не только форум, это движение, объединяющее передовые IT-решения с исламскими ценностями. 
      </p>
      <p>
        Наша миссия - создать диалог и сотрудничество между технологическими новаторами и представителями исламской общины, чтобы вдохновить следующее поколение лидеров и разработчиков.
      </p>
    </div>
    <div class="mt-[32px]">
      <UIBtn type="primary">Принять участие</UIBtn>
    </div>
  </div>
  <div class="absolute bottom-0 right-0 about-bg w-[604px] h-[616px]"></div>
</div>
