---
import { getCollection } from "astro:content";
import Bigtech from '~/components/icons/bigtech.astro'
import Dev from '~/components/icons/dev.astro'
import Finance from '~/components/icons/finance.astro'
import Invest from '~/components/icons/invest.astro'
import Startups from '~/components/icons/startups.astro'
import UIBtn from "./ui-btn.astro";

---

<div id="events" class="bg-[url('/bg-speakers.png')] bg-cover bg-no-repeat bg-center pb-[73px] font-railway">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[45px] font-bold">Что будет на Digital Umma 2024?</div>
    <div class="flex sm:flex-wrap sm:space-x-0 space-x-14 mt-[60px]">
      <div class="expectation-card px-[41px] pt-[55px] pb-[65px]">
        <div class="text-[90px] leading-[101px] font-bold text-center">
          30+
        </div>
        <div class="text-[26px] leading-[30px] mt-[11px] font-semibold text-center">
          приглашенных <br/>спикеров
        </div>
      </div>
      <div class="expectation-card px-[21px] pt-[55px] pb-[65px]">
        <div class="text-[90px] leading-[101px] font-bold text-center">
          2000+
        </div>
        <div class="text-[26px] leading-[30px] mt-[11px] font-semibold text-center">
          ожидаемое <br/> количество <br/> участников
        </div>
      </div>
      <div class="expectation-card px-[41px] pt-[55px] pb-[65px]">
        <div class="text-[90px] leading-[101px] font-bold text-center">
          3+
        </div>
        <div class="text-[26px] leading-[30px] mt-[11px] font-semibold text-center">
          панельных сессий
        </div>
      </div>
    </div>
    <div class="text-[32px] font-bold mt-[60px]">Направления Тем</div>
    <div class="mt-[70px]">
      <div class="flex justify-between overflow-auto">
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Dev />
          <div class="mt-auto">
            IT Разработка
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Bigtech />
          <div class="mt-auto">
            Big Tech
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Startups />
          <div class="mt-auto">
            Стартапы
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px] ">
          <Invest />
          <div class="mt-auto">
            Инвестиции
          </div>
        </div>
        <div class="text-[24px] text-center flex flex-col items-center justify-center h-[170px]">
          <Finance />
          <div class="mt-auto">
            Финансы
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[90px] flex justify-center">
      <UIBtn href="https://docs.google.com/forms/d/12ZlQreBqfNXB95PaCbBpT8dX4hIZpWWUnsLuLO8CDYQ/edit" type="primary">Регистрация</UIBtn>
    </div>
  </div>
</div>