---
import { Icon } from "astro-icon/components";
import UIBtn from "./ui-btn.astro";
---
<div id="main" class="relative sm:py-[5vh] py-[204px]">
  <div class="bg-[rgba(0,0,0,0.5)] sm:bg-[rgba(0,0,0,0.9)]">
    <div class="relative z-[5]">
      <div class="relative max-w-[1280px] mx-auto sm:flex sm:items-center sm:flex-col">
        <div class="relative sm:order-3 sm:mt-[33px] flex sm:flex-col items-center space-x-5 text-[30px] sm:text-[20px] sm:space-x-0 sm:space-y-4 font-medium">
          <span>17 Февраля, 2024</span>
          <svg class="sm:hidden" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
            <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
          </svg>
          <span>11:00 (UTC 6+)</span>
          <svg class="sm:hidden" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
            <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
          </svg>
          <span>Алматы, Казахстан</span>
        </div>
        <div class="sm:order-2 mt-[26px] sm:text-center sm:mx-auto font-railway text-[88px] sm:text-[42px] sm:leading-normal sm:max-w-[50%] leading-[100px] uppercase font-extrabold max-w-[700px]">
          Digital Umma IT Forum
        </div>
        <div class="sm:order-1 mt-[36px] font-railway sm:max-w-[50vw] sm:text-center">
          Соединяя IT и Исламские Ценности
        </div>
        <div class="sm:order-3 mt-[36px] space-x-4 sm:space-x-0 sm:flex sm:flex-col sm:items-center sm:space-y-4">
          <UIBtn href="https://docs.google.com/forms/d/12ZlQreBqfNXB95PaCbBpT8dX4hIZpWWUnsLuLO8CDYQ/edit" type="primary">Принять участие</UIBtn>
          <UIBtn href="https://t.me/digitalumma">
            <div class="flex items-center space-x-2">
              <span>
                Подписаться 
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M16.114 9.29103C16.666 8.73903 17.214 7.45103 14.914 9.01503C12.7655 10.4937 10.6024 11.9511 8.42504 13.387C8.09348 13.537 7.73503 13.6183 7.37124 13.6262C7.00744 13.6341 6.6458 13.5684 6.30804 13.433C4.92804 13.019 3.31704 12.467 3.31704 12.467C3.31704 12.467 2.21704 11.776 4.10004 11.04C4.10004 11.04 12.061 7.77303 14.822 6.62203C15.88 6.16203 19.469 4.69003 19.469 4.69003C19.469 4.69003 21.126 4.04503 20.988 5.61003C20.942 6.25403 20.574 8.51003 20.206 10.948C19.653 14.399 19.055 18.173 19.055 18.173C19.055 18.173 18.963 19.231 18.181 19.415C17.3439 19.4009 16.5351 19.1097 15.881 18.587C15.697 18.449 12.43 16.378 11.233 15.366C11.1113 15.2835 11.0124 15.1716 10.9455 15.0406C10.8786 14.9096 10.8459 14.7639 10.8505 14.6169C10.8551 14.4699 10.8968 14.3264 10.9717 14.1999C11.0467 14.0733 11.1524 13.9678 11.279 13.893C12.9208 12.391 14.5328 10.8567 16.114 9.29103Z" fill="white"/>
              </svg>
            </div>
        </UIBtn>
        </div>
      </div>
    </div>
  </div>
  <img class="w-[617px] absolute top-0 left-0" src="/main-bg-2.webp" alt="">
  <img class="z-[2] sm:opacity-[0.4] w-[743px] absolute bottom-0 right-0" src="/main-bg-1.webp" alt="">
</div>
