---
import { Icon } from "astro-icon/components";
import UIBtn from "./ui-btn.astro";
---

<div class="">
  <div class="flex items-center space-x-5 text-[30px] font-medium">
    <span>17 Февраля, 2024</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
      <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
    </svg>
    <span>11:00 (UTC 6+)</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
      <circle cx="5" cy="5" r="5" fill="#D9D9D9"/>
    </svg>
    <span>Алматы, Казахстан</span>
  </div>
  <div class="mt-[26px] font-railway text-[88px] leading-[100px] uppercase font-extrabold max-w-[700px]">
    Digital Umma IT Forum
  </div>
  <div class="mt-[36px] font-railway">
    Соединяя IT и Исламские Ценности
  </div>
  <div class="mt-[36px] space-x-4">
    <UIBtn type="primary">Принять участие</UIBtn>
    <UIBtn>Стать спикером</UIBtn>
  </div>
</div>
