---
import UiBtn from "./ui-btn.astro"

---

<div id="program" class="bg-[#000000] sm:px-[24px] pt-[135px] sm:pb-[0px] sm:pt-[50px] pb-[200px] font-railway">
  <div class="max-w-[1280px] mx-auto flex items-center sm:flex-wrap relative sm:justify-center">
    <div class="sm:relative sm:z-[2]">
      <div class="text-[45px] sm:text-[24px] sm:leading-[28px] leading-[49px] font-bold">Организатор форума</div>
      <div class="text-[#45FFFF] text-[40px] sm:text-[27px] sm:leading-[32px] font-bold sm:mt-[34px] mt-[50px]">Венчурный фонд WAQF</div>
      <div class="text-[30px] sm:text-[22px] sm:leading-[26px] sm:text-center sm:max-w-[80vw] sm:mx-auto leading-[34px] max-w-[532px] mt-[20px]">Новый этап в поддержке ценностных исламских стартапов</div>
      <div class="mt-[50px] sm:flex sm:justify-center sm:pt-[60vw]">
        <UiBtn href="https://waqfcapital.com" type="primary">Узнать о Waqf</UiBtn>
      </div>
    </div>
    <div>
      <img class="max-w-[730px] sm:z-[1] sm:absolute sm:top-[29%] sm:left-0 sm:max-w-[90vw]" src="/waqf.webp" alt="">
    </div>
  </div>
</div>