---
import UIBtn from "./ui-btn.astro"

---
<div class="bg-[url('/bg-part.png')] bg-cover pb-[200px] pt-[47px]">
  <div class="max-w-[1280px] mx-auto">
    <div class="text-[45px] font-bold">
      <span class="text-[#24F0F0]">Cтань частью</span> этого уникального события
    </div>
    <div class="text-[20px] mt-[75px]">
      Зарегистрируйтесь сейчас и приобретите билеты на Digital Umma IT Forum. Присоединяйтесь к нам для создания будущего, в котором технологии и исламские ценности гармонично сосуществуют.
    </div>
    <div class="mt-[43px] flex items-center space-x-[20px]">
      <div>
        <div class="w-[300px] h-[200px] bg-[#101D3C] flex flex-col justify-center items-center">
          <div class="text-[37px] text-[#52FFFF]">
            2000
          </div>
          <div class="text-[16px]">участников</div>
        </div>
        <div class="w-[300px] h-[200px] mt-[20px]">
          <img class="w-full" src="random-1.png" alt="">
        </div>
      </div>
      <div class="w-[600px] h-[420px]">
        <img class="w-full" src="/random-1.png" alt="">
      </div>
      <div>
        <div class="w-[300px] h-[200px] mb-[20px]">
          <img class="w-full" src="random-1.png" alt="">
        </div>
        <div class="w-[300px] h-[200px] bg-[#101D3C] flex flex-col justify-center items-center">
          <div class="text-[42px] text-[#19FB9B]">
            30+
          </div>
          <div class="text-[16px] max-w-[195px] text-center">лучших экспертов спикеров в своем деле</div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-[100px]">
      <UIBtn type="primary">Регистрация</UIBtn>
    </div>
  </div>
</div>