

<div class="bg-[url('/bg-program.png')] max-w-[1280px] pt-[135px] pb-[200px] bg-contain bg-left-bottom bg-no-repeat mx-auto font-railway">
  <div class="text-[45px] font-bold">Программа форума</div>
  <div class="mt-[70px]">
    <div class="flex space-x-4">
      <div class="w-[50%] p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
        <div class="text-[22px] text-[#52FFFF] font-bold">
          Al Farabi Hall
        </div>
        <div class="text-[16px] font-sans">
          <br/>11:00-11:10 Registration (boarding)
          <br/>11:10-11:15   Welcome Speech
          <br/>11:15-11:25 + 5 Asylbek Mukenov (Mihrab.kz)
          <br/>11:30-11:40 +5 Birzhan Abishev (product design 9+years)
          <br/>11:45-11:55 +5 Aidash Aldiyar (Aidashstudio)
          <br/>12:00-12:10 +5 Alina Jarti (Jaiq Impact Fund: Samgar)
          <br/>12:15-12:25 +5 Bakytzhan Shabdukarim (ara.studios, @ara_academy_kz)
          <br/>12:30-12:40 +5 Arman(EdTech)
          <br/>12:45:-12:55 +5 Saken Sadykov (GameDev)
        </div>
      </div>
      <div class="w-[50%] p-[20px] rounded-[18px]" style="background:rgba(30, 65, 105, 0.33)">
        <div class="text-[22px] text-[#52FFFF] font-bold">
          Tauelsizdik Hall - Panel sessions
        </div>
        <div class="text-[16px] font-sans">
          <br/> 11:30-12:20 Islamic finance in Kazakhstan: integration into society
          <br/> 
          <br/> 12:25-13:05 Media in the Islamic world: Traditions and modern trends
          <br/> 
          <br/> 14:15-15:00   Ethics and Entrepreneurship: An Islamic Approach to Business
        </div>
      </div>
    </div>
    <div class="mt-[16px] p-[20px] rounded-[18px] flex" style="background:rgba(30, 65, 105, 0.33)">
      <div class="w-[50%]">
        <div class="text-[22px] text-[#52FFFF] font-bold">
          Al Farabi Hall
        </div>
        <div class="text-[16px] font-sans">
          <br />14:15-14:20 +5 Malika (future professions)
          <br />14:25-14:35 +5 Dulat Muratkhanov (hitba)
          <br />14:40-14:50 +5 Yusuf Abdullaev - (Edtech)
          <br />14:55-15:05 +5 Temirlan Kabylbekov(EasyTap)
          <br />15:10-15-20 +5
          <br />15:25-15:35 +5 Rinat Zhakupbekov (Halyk bank)
          <br />15:40-15:50 +5 Ali Mahmoud (PM Tele2, ex HOP Tayyab)
          <br />15:55-16:05 +5 Aibolat Kulatai (Aqyl battle)
          <br />16:10-16:20 +5 Kerbez (ex-Google)
<br />
          <br />Coffee break 16:25 - 17:00  
        </div>
      </div>
      <div class="w-[50%]">
        <div class="text-[16px] font-sans">
          <br /> 17:00-17:10 +5 Chingiz Saduev (halalguide.me)
          <br /> 17:15-17:25 +5 Bimbetov Farabi (Namazhana)
          <br /> 17:30-17:40 +5 Adil Almas (Sajda)
          <br /> 17:45- 17:55 +5 Arthur Muratov (ImamAI)
          <br /> 18:00- 18:10 +5 Muammar Al-Shedivat(UvU) <br/>  <br/> 
        </div>
        <div class="text-[22px] text-[#52FFFF] font-bold">
          Startup Battle
        </div>
        <div class="text-[16px] font-sans">
          <br/> 18:15- 18:10 +5 Otarov Begarys (hidaya app)
          <br/> 18:15- 18:20 +5 Aibek Sәkenuly (Sauapp)
          <br/> 18:25- 18:30 +5 Malika (Zikr app)
        </div>
      </div>
    </div>
  </div>
</div>