---
import UiBtn from "./ui-btn.astro"


---

<div class="font-railway max-w-[1280px] mx-auto">
  <div class="text-[45px] font-bold bg-gradient-to-r from-cyan-300 via-purple-950 to-purple-700 text-transparent bg-clip-text">
    Спикеры
  </div>
  <div class="text-[20px] mt-[20px]">Встречайте вдохновляющих лидеров и экспертов из мира IT и ислама.</div>
  <div class="flex justify-between flex-wrap">
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p1.png" alt="">
      <div class="text-[28px] font-bold mt-1">Асылбек Мукенов</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">Mihrab.kz</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p2.png" alt="">
      <div class="text-[28px] font-bold mt-1">Дулат Муратханов</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">hitba</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p3.png" alt="">
      <div class="text-[28px] font-bold mt-1">Айболат Кулатай</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">Aqyl battle</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p4.png" alt="">
      <div class="text-[28px] font-bold mt-1">Темирлан Кабылбеков</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">EasyTap</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p5.png" alt="">
      <div class="text-[28px] font-bold mt-1">Muammar Al-Shedivat</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">UvU</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p6.png" alt="">
      <div class="text-[28px] font-bold mt-1">Али Махмудов</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">Tayyab app</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p7.png" alt="">
      <div class="text-[28px] font-bold mt-1">Adil Almas</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">Sajda</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p8.png" alt="">
      <div class="text-[28px] font-bold mt-1">Шыңғыс Садуев</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">halaguide.me</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p9.png" alt="">
      <div class="text-[28px] font-bold mt-1">Arthur Muratov</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">ImamAI</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p10.png" alt="">
      <div class="text-[28px] font-bold mt-1">Бимбетов Фараби</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">Namazhana</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p11.png" alt="">
      <div class="text-[28px] font-bold mt-1">Сакен Садыков</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">GameDev</div>
    </div>
    <div class="min-w-[292px] mt-[58px] flex flex-col items-center text-center">
      <img class="w-[136px]" src="/p12.png" alt="">
      <div class="text-[28px] font-bold mt-1">Бақытжан Шабдукарим</div>
      <div class="text-[22px] font-normal text-[#EAEAEA]">ara.studios</div>
    </div>
  </div>
  <div class="flex justify-center mt-[56px]">
    <UiBtn>Стать спикером</UiBtn>
  </div>
</div>