---
import UIBtn from "./ui-btn.astro"
---

<div class="bg-[#010203] bg-cover bg-top">
  <div class="max-w-[1280px] mx-auto py-[68px] sm:py-[40px] sm:pb-[20px] font-railway">
    <div class="flex flex-col space-y-9 sm:flex-wrap sm:justify-center">
      <div class="flex justify-center sm:flex-wrap space-x-[20px] sm:space-x-0 sm:space-y-[20px]">
        <div class="space-y-[50px] px-[66px] sm:px-[24px] pt-[24px] bg-[#051d38] bg-opacity-[0.53] rounded-[16px] sm:mr-[0] sm:flex sm:flex-col sm:justify-center sm:items-center">
          <div class="text-[24px] font-bold text-center">Генеральный спонсор</div>
          <div class="sm:w-[90vw] select-none sm:flex-col sm:space-x-0 sm:gap-[45px] flex items-center justify-center space-x-[50px] overflow-hidden pb-[20px]">
            <img width="255" height="105" class="max-w-[255px]" src="/coffee.png" alt="coffee original">
          </div>
        </div>
        <div class="space-y-[50px] px-[66px] sm:px-[24px] pt-[24px] bg-[#051d38] bg-opacity-[0.53] rounded-[16px] sm:mr-[0] sm:flex sm:flex-col sm:justify-center sm:items-center">
          <div class="text-[24px] font-bold text-center">Официальный спонсор</div>
          <div class="sm:w-[90vw] select-none sm:flex-col sm:space-x-0 sm:gap-[45px] flex items-center justify-center space-x-[50px] overflow-hidden pb-[20px]">
            <div class="relative">
              <img width="300" height="212" class="max-w-[300px] sm:max-w-[250px]" src="/qulan-logo.webp" alt="hitba">
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-[75px] sm:space-y-[60px]">
        <div class="text-[24px] font-bold text-center">Участвующие спонсора</div>
        <div class="relative select-none overflow-hidden pb-[20px]">
          <div class="animate-infinite-scroll sm:animate-infinite-scroll-sm sm:w-[100vw] sm:space-x-0 sm:gap-4 flex items-center justify-center space-x-[50px]">
            <img height="80" width="144" class="max-w-[144px]" src="/digital-b.svg" alt="hitba">
            <img height="80" width="124" class="max-w-[124px]" src="/hitba.webp" alt="hitba">
            <img height="80" width="128" class="max-w-[128px]" src="/sajda.webp" alt="sajda">
            <img height="80" width="127" class="max-w-[127px]" src="/google.webp" alt="google">
            <img height="80" width="135" class="max-w-[135px]" src="/halyk.webp" alt="halyk">
            <img height="80" width="169" class="max-w-[169px]" src="/Halaguide.png" alt="halyk">
            <img height="80" width="65" class="max-w-[65px]" src="/mosque.webp" alt="mosque">
            <img height="80" width="180" class="max-w-[180px]" src="/easytap.webp" alt="easytap">
            <img height="80" width="144" class="max-w-[144px]" src="/digital-b.svg" alt="hitba">
            <img height="80" width="124" class="max-w-[124px]" src="/hitba.webp" alt="hitba">
            <img height="80" width="128" class="max-w-[128px]" src="/sajda.webp" alt="sajda">
            <img height="80" width="127" class="max-w-[127px]" src="/google.webp" alt="google">
            <img height="80" width="135" class="max-w-[135px]" src="/halyk.webp" alt="halyk">
            <img height="80" width="169" class="max-w-[169px]" src="/Halaguide.png" alt="halyk">
            <img height="80" width="65" class="max-w-[65px]" src="/mosque.webp" alt="mosque">
            <img height="80" width="180" class="max-w-[180px]" src="/easytap.webp" alt="easytap">
            <img height="80" width="144" class="max-w-[144px]" src="/digital-b.svg" alt="hitba">
            <img height="80" width="124" class="max-w-[124px]" src="/hitba.webp" alt="hitba">
            <img height="80" width="128" class="max-w-[128px]" src="/sajda.webp" alt="sajda">
            <img height="80" width="127" class="max-w-[127px]" src="/google.webp" alt="google">
            <img height="80" width="135" class="max-w-[135px]" src="/halyk.webp" alt="halyk">
            <img height="80" width="169" class="max-w-[169px]" src="/Halaguide.png" alt="halyk">
            <img height="80" width="65" class="max-w-[65px]" src="/mosque.webp" alt="mosque">
            <img height="80" width="180" class="max-w-[180px]" src="/easytap.webp" alt="easytap">
          </div>
          <div class="absolute sm:hidden top-0 -left-[0px] w-[90px] h-full bg-gradient-to-l from-transparent via-[#010203] to-[#010203]"></div>
          <div class="absolute sm:hidden top-0 -right-[0px] w-[90px] h-full bg-gradient-to-r from-transparent via-[#010203] to-[#010203]"></div>
        </div>
      </div>
    </div>
    <div class="mt-[50px] flex justify-center">
      <UIBtn href="https://docs.google.com/forms/d/e/1FAIpQLSd4aOQ65I2cSPPsJGl9FgJq67blN4FPVrOUAX65eHsjgb1HRw/viewform" type="primary">Стать спонсором</UIBtn>
    </div>
  </div>
</div>
